/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Display:wght@300&family=Urbanist:wght@900&display=swap') */
* {
    font-family: "Quicksand", sans-serif;
    /* font-weight: 500; */
    font-style: normal;
}
body{
    overflow-x: hidden;
}

header {
    background: #1a1a1a;

    background: #00000000;
}

.overlay .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tummenu {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    position: relative;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background: #1a1a1a;
}

.tummenu::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-size: 100%;
    z-index: 0;
    background-position: left left;
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background-image: url('images/Vector-Smart-Object-1.png');
    background-attachment: fixed;

}

.burger {
    display: flex;
    max-width: 725px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menuitems {
    width: 100%;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menuitems a {
    color: #fff !important;
    text-decoration: none !important;
}

.menuitems a:hover {
    color: #BFA16E !important;
}

.linkarea {
    min-width: 400px;
}

.menu {
    display: flex;
    height: 115px;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: relative;
    z-index: 0;
}

.nav-btn {
    transition: all .2s ease-in;
    color: #D1AF77;
    text-decoration: none !important;
    padding: 1rem 1rem;
    /* font-weight: 900; */
    /* font-size: 1.25rem; */
    max-width: 150px;
    width: 100%;
    display: block;
    text-align: center;
    border: 1px solid #D1AF77;
}

.nav-btn:hover {
    background: #D1AF77;
    color: white;
    /* margin: .5rem 1rem;
    padding: .5rem .5rem; */

}

.banner {
    position: relative;
    background-attachment: fixed;
    background: #1a1a1a;
}

.banner::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    content: "";
    background-size: cover;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url('images/Vector-Smart-Object-1.png');
}

.plane {
    position: relative;
}

.banner-image {
    width: 100%;
    max-width: 750px;
}

.plane-img {
    position: absolute;
    left: 0;
}

.banner-flex {
    position: relative;
    z-index: 0;
    display: flex;
    padding: 3rem 0;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.icons div {
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}

.icons div i {
    font-size: 1.5rem;

}

.icons a {
    color: #E4E4E4 !important;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    max-height: 50px;
    min-width: 100%;
    min-height: 100%;
    border-radius: 100%;
    padding: 1rem 1.1rem;
    transition: all .4s;
    border: 1px solid #BFA16E;
}

.icons a:hover {
    background: #BFA16E;
}

span.line {
    height: 200px;
    background: #BFA16E;
    width: 1px;
    margin: 0 auto;
}

.banner-title {
    max-width: 30%;
    color: white;
}

.services-cards .cards {
    background-color: rgba(0, 0, 0, 0.73);
    row-gap: 2rem;
    display: flex;
    column-gap: 2rem;
    padding: 3rem;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
}

.services-cards {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-image: url('images/F-2.jpg');
}

.about {
    background-color: rgba(0, 0, 0);
    position: relative;
    padding: 3rem 0;
    color: #fff;
}

.back {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background: url(images/Vector-Smart-Object-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services-cards .card {
    background: transparent;
    color: white;
    max-width: 45%;
    padding: 1rem;
    width: 100%;
    border: none;
    transition: all .4s;
}

.services-cards .card a {
    text-decoration: none !important;
    color: white !important;
}

.services-cards .card:hover {
    background-color: #BFA16E;
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

section.services {
    padding: 3rem 0;
}

h2 {
    font-size: 3rem !important;
}

.card i {
    font-size: 1.75rem;
}

.about-image {
    border-radius: 10px;
    width: 100%;
}

.image-content {
    background: #D1AF77;
    min-width: 300px;
    height: 440px;
    width: 100%;
    border-radius: 10px;
    margin: 9em -5em 4em 0;
    --e-column-margin-right: -5em;
    --e-column-margin-left: 7em;
    padding: 3em 2em 3em 2em;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.image-area {
    position: relative;
}

/* .image-content ul {
    max-width: 253px;
    margin: 0 auto;
} */
.about-flex {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.image-flex {
    display: flex;
}

.about-flex>div {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

.image-content li {
    padding-left: 1rem;
    color: white;
}

.image-content li::marker {
    content: "\f058";
    font-family: "Font Awesome 6 Pro";
    font-size: 2rem;

}

.about .row {
    gap: 1.5rem 0;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
    justify-content: space-between;
}

.benefit {
    max-width: 33%;
    width: 100%;
}

.benefit span p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: #D1AF77;
    font-style: normal;
}

.benefit-area {
    padding: 3rem 0;
}

.benefit-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.counters {
    gap: 2rem 0;
}

.count {
    gap: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    color: #ffffff;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 3rem;
}

small {
    color: #d1af77;
    font-weight: bolder !important;
    font-size: 1rem !important;
    letter-spacing: 5px;

}

.counter-area {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(images/F-4.jpg);
    background-color: rgb(0, 0, 0);
}

.plus {
    color: #d1af77;
    padding-left: 0.5rem;
}

.value {
    display: flex;
}

.counter-area i,
.counter-area h4 {
    color: #d1af77;
}

.counter-area i {
    font-size: 3rem;
}

.img {
    width: 100%;
    padding: 3rem 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.73);
}

.count {
    position: relative;
}

.count::before {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: 1;
    background-color: #d1af77;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.count:hover::before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.arctitle {
    text-align: center;
    padding-bottom: 2rem;
}

.deal-card {
    background-image: url('images/F-6.jpg');
    /* max-width: 32%; */
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}

.card-area {
    gap: 1rem 0;
}

.card-content {
    padding: 10em 2em 2em 2em;
    background-color: rgb(0 0 0 / 0%);
    background-image: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #000000 100%)
}

.card-content h3 {
    color: #fff;
    font-size: 1.5rem;
}

.card-content sup {
    color: #fff;
    font-size: .9rem;
}

.charter {
    padding: 3rem 0;
}

.deal-card p {
    color: #BFA16E;
}

.linkarea {
    height: 30px;
    max-width: 350px;
    display: flex;
    align-items: center;
}

.deal-card a {
    color: #BFA16E;
    font-size: 1.25rem;
    transition: all .4s ease-in-out;
    text-decoration: none !important;
}

.deal-card a:hover {
    transform: scale(0.9);
    color: #fff;
}

.deal-card hr {
    border-top: 2px solid #BFA16E;
}

.mini-text {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deal-card a i {
    margin-left: 1rem;
}

.testimonials {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('images/F-5.jpg');
}

.back-2 {
    width: 100%;
    padding: 3rem 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.73);
}

.slick-next:before {
    font-family: "Font Awesome 6 Pro" !important;
    content: "\f101" !important;
    color: #2575FC !important;
}

.slick-prev:before {
    font-family: "Font Awesome 6 Pro" !important;
    content: "\f100" !important;
    color: #2575FC !important;
}

.tirnak {
    position: relative;
}

.tirnak img {
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 0;
}

.slider {
    min-height: 100%;
}

.yorum {
    color: #fff;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.yorum p {
    color: #ffffff8a;
}

.user-profile img {
    width: 100%;
}

.user-profile {
    overflow: hidden;
    border-radius: 100%;
    max-width: 80px;
    height: 80px;
}

.user {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.slider-elemet {
    display: flex !important;
    padding: 4rem 0;
    gap: 1rem 0;
    flex-direction: column;
}

.tirnak img {
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: -3rem;
    left: -5px;
}

.job {
    color: #d1af77;
}

.user-content p {
    margin: 0;
}

.packages {
    padding: 3rem 0;
}

.big-cards .card-content {
    padding: 15em 3em 3em 3em;
}

.content {
    text-align: center;
    color: #fff;
    padding: 5rem 0;
    display: flex;
    gap: 2rem 0;
    flex-direction: column;
}

.blogs {
    padding: 3rem 0;
}

.blog-arctitle {
    text-align: center;
}

.blog-arctitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-img {
    width: 100%;
}

.footer-social .icons div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-menu {
    align-items: center;
    padding: 3rem 0;
    gap: 0 2rem;
}

.footer-social .icons a {
    max-width: 35px;
    max-height: 35px;
}

.icon {
    max-width: 35px;
    max-height: 35px;
}

.footer-links ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-area {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3rem 0 0 0;
}


.footer-back {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(images/Vector-Smart-Object-1.png);
    background-color: #1a1a1a;

}

.footer-backgro {
    width: 100%;
    padding: 3rem 0 0 0;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.73); */
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none !important;
}

.footer-links ul li a:hover {
    color: #BFA16E !important;
}

.icons .icon i {
    font-size: 1rem;
}

.contact-area input {
    color: #fff;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #BFA16E;
    background-color: transparent;
    width: 100%;
    max-width: 70%;
    margin-right: -10px;
    padding: 17.5px 16px 15.5px 16px;
}

.contact-area button {
    padding: 16.5px 20px 16.5px 20px;
    color: white;
    background-color: #BFA16E;
    border-style: none;
    border-radius: 5px 5px 5px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);

}

.copyright {
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #fff;
}

.footer-backgro hr {
    border-top: 1px solid #272727;
}

.contact-area input,
.contact-area button {
    outline: 0 !important;
}



.button-ani-reverse {
    color: #ffffff;
    background-color: #d1af77;
    text-decoration: none;
    border-color: #d1af77;
    width: auto;
    margin: 0 auto;
    font-family: "Quicksand", Sans-serif;
    fill: #d1af77;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 20px 15px 20px;
    transition: all .4s;
    transform: scale(1);

}

.button-ani-reverse:hover {
    background-color: transparent;
    transform: scale(0.9);
    color: #d1af77;
    text-decoration: none;
}

.button-ani {
    width: auto;
    margin: 0 auto;
    font-family: "Quicksand", Sans-serif;
    fill: #d1af77;
    color: #d1af77;
    background-color: transparent;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #d1af77;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 20px 15px 20px;
    transition: all .4s;
    transform: scale(1);
}

.button-ani:hover {
    color: #ffffff;
    background-color: #d1af77;
    text-decoration: none;
    transform: scale(0.9);
}

.services-btn {
    margin-left: 0;
}

.contact-banner {
    background-image: url(images/F-12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumb {
    padding-left: 0 !important;
    background: none !important;
}

.breadcrumb span {
    display: flex;
}

.banner-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-area h1 {
    color: #fff;
}

.breadcrumb a {
    color: #fff;
}

.breadcrumb p {
    color: #BFA16E;
}

.contact-back {
    width: 100%;
    padding: 3rem 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.73);
}

.contact-title a {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: 600;

    gap: 1rem;
}

.phone a i {
    transform: rotate(-45deg);
}

.contact-title:not(p) {

    font-family: "Cormorant Garamond", serif;
    font-style: normal;
}

.contact-title h3 {
    color: #d1af77;
}

.contact-section {
    padding: 4rem 0;
}

.contact-title {
    display: flex;
    gap: 2rem 0;
    flex-direction: column;
}

form input {
    width: 100%;
}

form textarea,
form input {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #d1af77;
    padding: 12px;
    color: #686868;
    outline: 0 !important;
}

form textarea {
    width: 100%;
    height: 185px;
    resize: none;
}

.form-gap {
    gap: 2rem 0;
}

.position {
    position: relative;
    z-index: -1;
}

.map iframe {
    filter: grayscale(100%);
    height: 400px;
    width: 100%;
}

@media screen and (max-width:1024px) {
    .benefits {
        gap: 2rem;
    }

    .benefit {
        max-width: 46%;
    }

    .social,
    .plane {
        display: none;
    }

    .banner-title {
        max-width: 100%;
    }

    .banner-flex {
        padding: 6rem 0;
    }
}

@media screen and (max-width:992px) {
    .image-content {
        display: none;
    }

    .form-area {
        flex-direction: column-reverse;
    }

    .services-cards .cards {
        padding: 1rem;
        gap: 1rem;
    }

    .services-cards .card {
        max-width: none;
    }

    .footer-social {
        max-width: 50%;
        margin: 0 auto;
    }

    .footer-menu {
        padding: 3rem 0;
        gap: 2rem 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .overlay {
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        background: #00000000;

    }

    .linkarea {
        height: auto;
    }

    .image-content {
        display: flex;
    }

    .logo {
        position: relative;

        z-index: 1;
    }

    .backgr {
        transition: all .4s;
        position: fixed;
        overflow: hidden;
        z-index: 1;
        background: #000000b3;
    }

    .height {
        height: 115px;
        display: flex;
        height: 115px;
        align-items: center;
        justify-content: flex-end;
    }

    .mr5 {
        margin-right: 5rem;
    }

    .burger {
        max-width: 55%;
        width: 100%;
        height: 100vh;
        justify-content: start;
        position: absolute;
        top: 0;
        left: -300%;
        background: rgb(0, 0, 0);
        transition: all .4s;
        z-index: 99;
        flex-direction: column;
        align-items: center;
    }

    .menuitem a {
        border: 0 !important;
    }

    .lines {
        display: flex;
        z-index: 999;
        flex-direction: column;
        right: 20px;
        height: 20px;
        justify-content: space-between;
    }

    .lines .line {
        background: #ffffff;
        width: 32px;
        transition: all .4s;
        height: 2px;
    }

    .line-1 {
        transform: rotateZ(45deg) translate(5.5px, 7.5px);
    }

    .line-3 {
        transform: rotateZ(-45deg) translate(5.5px, -7.5px);
    }

    .open {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 9999999999999999999999999999999999;
        overflow: hidden;
    }

    .menuitems {
        display: block;
    }

    li.menuitem {
        padding: 1rem 0;
        text-align: center;
        border-bottom: 1px solid #fff;
    }

    .services-cards .card {
        max-width: 45%;
    }

    .services .row {
        gap: 1rem 0;
    }
}

@media screen and (max-width:450px) {
    .benefits {
        justify-content: center;

    }

    .benefit {
        max-width: 100%;
    }
    .services-cards .card {
        max-width: 100%;
    }
}